@model CrowdFundingApplication.Core.Model.Project

<style>
    .dashboard-elements:last-of-type {
        padding-left:0 !important;
    }
    .dashboard-elements > div {
        background-color: #fff;
        border: 1px #E4E9F2 solid;
        border-radius: 15px;
    }
    .sidebar-left img {
        border-radius:15px;
    }

    h5.text-primary, .well {
        border-bottom: 1px #D7DFEC dashed;
    }

    .list-group-item {
        border: none;
        border-bottom: 1px #D7DFEC dashed;
        margin-bottom: 0.25rem;
        padding: 0.75rem 1rem 0.75rem 1rem;
    }
    .list-group-item:last-of-type {
        border-bottom: none !important;
    }

    button[type="submit"] {
        display:block;
        margin-left:auto;
    }
    .well {
        position:relative;
    }
    .blog-date {
        position: absolute;
        background: #337ab7;
        top: 50%;
        margin-top:-20px;
        right: 5px;
        color: #fff;
        border-radius: 25px;
        padding: 5px 15px;
        font-weight: 700;
    }
    .text-muted {
        font-size:14px;
    }
</style>

@{ 
    var media = Model.ProjectMedia.ToList();
    var posts = Model.ProjectPosts.OrderByDescending(p => p.PostDateCreated).ToList();
    var incentives = Model.ProjectIncentives.ToList();

    var progress = Math.Round((Model.ProjectCapitalAcquired * 100) / Model.ProjectFinancialGoal, 2);

}

<div class="row">
    <div class="dashboard-elements sidebar-left col col-md-3 m-0 p-0">
            @if (media != null && media.Count != 0) {
            <div class="col-sm-12 mb-2 p-2">
                <img class="col-sm-12 m-0 p-0" src="@media[0].MediaURL" />
            </div>
            }
            <div class="col-sm-12 mb-2 p-2 pt-3">
                <h5 class="col-sm-12 text-info font-weight-bold pb-2 pl-3 mb-0">@Model.ProjectTitle</h5>

                <ul class="list-group">
                    <li class="list-group-item text-info">
                        Description: @Model.ProjectDescription
                    </li>
                    <li class="list-group-item text-info">
                        Category: <span class="font-weight-bold text-info">@Model.ProjectCategory</span>
                    </li>
                    <li class="list-group-item text-info">
                        Project Goal: <span class="font-weight-bold text-info">@Model.ProjectFinancialGoal$</span>
                    </li>
                    <li class="list-group-item text-info">
                        Expiring:
                        <span class="font-weight-bold text-info">
                            @Model.ProjectDateExpiring.ToString("dd/MM/yyyy")
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    <div class="col col-md-6 dashboard-elements">
        <div class="col-sm-12 mb-2 p-2" style="min-height:200px;">
            <form class="postForm">
                <div class="form-group m-0">
                    <input name="postTitle" type="text" class="form-control" placeholder="Add new post title..." />
                    <textarea name="postDescription" class="form-control mt-2" placeholder="Add new post description..." rows="3"></textarea>
                    <input type="hidden" id="projectId" name="projectId" value="@Model.ProjectId" />
                    <button type="submit" class="btn btn-primary mt-2 js-add-post">Add post</button>
                </div>
            </form>
        </div>
        <div class="col-sm-12 mb-2 p-2" style="max-height:600px;">
            @{
                if (posts != null && posts.Count != 0) {
                    foreach (var post in posts) {
                        <div class="well m-2">
                            <div class="media">
                                <div class="media-body">
                                    <h4 class="media-heading font-weight-bold text-info">@post.PostTitle</h4>
                                    <span class="text-muted">Posted on: 
                                        <span class="font-italic">@post.PostDateCreated.ToString("dd/MM/yyyy")</span>
                                    </span>
                                    <p class="text-info mt-1">
                                        @post.PostExcerpt
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
    <div class="col col-md-3 dashboard-elements">
        <div class="col-sm-12 mb-2 p-2" style="min-height:100px;">
            <div class="col col-sm-12 text-center font-weight-bold text-info">
                @progress% funded
                <div class="progress" style="height: 35px;">
                    <div class="progress-bar bg-success progress-bar-striped" role="progressbar"
                         aria-valuenow="@progress" aria-valuemin="0" style="width:@progress%;" aria-valuemax="100">
                    </div>
                </div>
                <p class="m-0">@Model.ProjectCapitalAcquired / @Model.ProjectFinancialGoal ($)</p>
            </div>
        </div>
        <div class="col-sm-12 mb-2 p-2">
            @{
                if (incentives != null && incentives.Count != 0) {
                    foreach (var incentive in incentives) {
                        <div class="well m-2 js-incentive">
                            <input type="hidden" value="@incentive.IncentiveId" />
                            <div class="media">
                                <div class="media-body">
                                    <h5 class="media-heading font-weight-bold text-info">@incentive.IncentiveTitle (@incentive.IncentivePrice$)</h5>
                                    <span class="text-success">
                                        Reward:
                                        <span class="font-italic">@incentive.IncentiveReward</span>
                                    </span>

                                    <p class="text-info mt-1">
                                        @incentive.IncentiveDescription
                                    </p>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
        </div>
    </div>
</div>