@using System.Globalization;
@model UserDashboardViewModel

@{ 
    var createdProjects = Model.Context
        .Set<CrowdFundingApplication.Core.Model.Project>()
        .Where(u => u.User == Model.User.Data)
        .ToList();
}

<style>
    .dashboard-elements:last-of-type {
        padding-left: 0 !important;
    }
    body {
        min-height:800px;
    }
    .dashboard-elements div {

    }

    .table-striped {
        border-radius:15px;
    }
    .table-striped thead{
        color:#fff;
    }

    .table-title {
        background-color: #fff !important;
        font-weight: bold;
        font-size: 18px;
        border-bottom: 1px #fff solid;
    }

    .dashboard-elements > div {
        background-color: #fff;
        border: 1px #E4E9F2 solid;
        border-radius: 15px;
    }

    .sidebar-left img {
        border-radius: 15px;
    }

    h5.text-primary, .well {
        border-bottom: 1px #D7DFEC dashed;
    }

    .list-group-item {
        border: none !important;
        border-bottom: 1px #D7DFEC dashed !Important;
        margin-bottom: 0.25rem;
        padding: 0.75rem 1rem 0.75rem 1rem;
    }

    .list-group-item:last-of-type {
        border-bottom: none !important;
    }

    button[type="submit"] {
        display: block;
        margin-left: auto;
    }

    .well {
        position: relative;
    }

    .blog-date {
        position: absolute;
        background: #337ab7;
        top: 50%;
        margin-top: -20px;
        right: 5px;
        color: #fff;
        border-radius: 25px;
        padding: 5px 15px;
        font-weight: 700;
    }

    .text-muted {
        font-size: 14px;
    }

    .incentive {
        cursor: pointer;
    }
</style>


<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>

<div class="row">
    <div class="dashboard-elements sidebar-left col col-md-3 m-0 p-0">
        
            <div class="col-sm-12 mb-2 p-2">
                <img class="col-sm-12 m-0 p-0 rounded-circle" src="/images/default-profile-pic.jpg" />
            </div>
        
        <div class="col-md-12 mb-2 p-2 pt-3">
        

         <ul class="list-group">
             <li class="list-group-item text-info">
                 VatNumber: <span class="font-weight-bold text-info">@Model.User.Data.UserVat</span>
             </li>
             <li class="list-group-item text-info">
                 First Name: <span class="font-weight-bold text-info">@Model.User.Data.UserFirstName</span>
             </li>
             <li class="list-group-item text-info">
                 Last Name: <span class="font-weight-bold text-info">@Model.User.Data.UserLastName</span>
             </li>
             <li class="list-group-item text-info">
                 Email: <span class="font-weight-bold text-info">@Model.User.Data.UserEmail</span>
             </li>
             <li class="list-group-item text-info">
                 Phone: <span class="font-weight-bold text-info">@Model.User.Data.UserPhone</span>
             </li>

         </ul>
        </div>
    </div>
    <div class="col col-md-9 dashboard-elements">
        <div class="col-md-12 m-2 p-0" style="min-height:200px;overflow:auto;">
            <table class="table-striped col-md-12">
                <thead class="text-center bg-info">
                    <tr>
                        <td class="table-title text-info" colspan="4">Created Projects</td>
                    </tr>
                    <tr>

                        <td>Title</td>
                        <td>Category</td>
                        <td>% Funded</td>
                        <td>Actions</td>
                    </tr>
                </thead>
                <tbody class="text-center">
                    @{
                        foreach (var project in createdProjects) {
                            var progress = Math.Round((project.ProjectCapitalAcquired * 100) /
                                project.ProjectFinancialGoal, 2).ToString(CultureInfo.InvariantCulture);
                            <tr>
                                <td>
                                    @project.ProjectTitle
                                </td>
                                <td>
                                    @project.ProjectCategory
                                </td>
                                <td class="pt-2">
                                    <label class="col col-sm-12 text-center font-weight-bold text-primary">
                                        <div class="progress mb-1">
                                            <div class="progress-bar bg-success progress-bar-striped mb-0" role="progressbar"
                                                 aria-valuenow="@progress" aria-valuemin="0" style="width:@progress%;" aria-valuemax="100">
                                            </div>
                                        </div>
                                    </label>
                                </td>
                                <td>
                                    <a href="~/project/view/@project.ProjectId" class="text-info">View</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

        </div>
        <div class="col-md-12 m-2 p-2" style="min-height:200px;">
            <div class="row  js-funded-project-list">
                <h5 style="border-bottom: 1px #D7DFEC dashed !Important;" 
                    class="col-md-12 text-info text-center font-weight-bold pb-2">
                    Backed projects
                </h5>
            </div>
        </div>
    </div>
</div>